body {
    background-color: black;
}
.bottom-nav {
    ul {
        background-color: black;
        border: 2px solid white;
        border-radius: 25px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    li {
        list-style: none;
    }

    img {
        width: 55px;
        height: 55px;
        border: #036f39 2px solid;
        border-radius: 15px;
    }

    a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: white;
        padding: 15px;
    }
    p {
        color: #ffffff;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
    }

    width: 100%;
    bottom: 2%;
    position: fixed;
    right: 0;
    z-index: 3; /* üstte görünmesi için */
}
.second-mail.fa-solid.fa-envelope.fa-2xl {
    color: #52a052;
}
.header {
    color: white;
}
.card1 {
    background-color: green;
    border: solid 1px white;
    border-radius: 30px;
    width: 500px;
    h1 {
        color: black;
    }
    p {
        color: white;
    }
}
.mail.fa-solid.fa-envelope.fa-2xl {
    color: #5254e8;
}
