body {
    background: #000000;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 42%,
        rgba(27, 37, 74, 1) 100%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}
.bottom-nav {
    ul {
        background-color: black;
        border: 2px solid white;
        border-radius: 25px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    li {
        list-style: none;
    }

    img {
        width: 55px;
        height: 55px;
        border: #036f39 2px solid;
        border-radius: 15px;
    }

    a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: white;
        padding: 15px;
    }
    p {
        color: #ffffff;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
    }

    width: 100%;
    bottom: 2%;
    position: fixed;
    right: 0;
    z-index: 3; /* üstte görünmesi için */
}
.second-mail.fa-solid.fa-envelope.fa-2xl {
    color: #52a052;
}
.header {
    color: white;
}
.card1 {
    background-color: black;
    border: solid 0.5px white;
    border-radius: 30px;
    width: 500px;
    color: white;
    p {
        color: wheat;
    }
}
.mail.fa-solid.fa-envelope.fa-2xl {
    color: #5254e8;
}
.welcome {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute;

    /* 1. Position it close to the bottom edge */
    bottom: 11%;

    /* 2. Start the element's left edge at the center of the page */
    left: 50%;

    /* 3. Shift the element back to the left by half of its own width.
         This perfectly centers it on the page.
      */
    transform: translateX(-50%);
}
